<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/follow-us.css" />
    </head>
    <body>
        <header>
            <div class="join-us-icon">
                <a href="/" target="_blank">
                    <img
                        id="follow-us"
                        src="/images/follow-us.png"
                        alt="Join Us"
                    />
                </a>
            </div>
        </header>
    </body>
</html>
