<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <header>
            <nav>
                <div id="nav-container">
                    <a href="#about">ABOUT</a>
                    <a href="#faq">FAQ</a>
                </div>
            </nav>
        </header>
    </body>
</html>
