body {
    margin: 0;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: left;
    background-color: #f6f1f1; 
}

h1 {
    font-size: 40px;
    max-width: auto;
}

p {
    font-size: 20px;
}

div {
    padding-bottom: 5%;
}