<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/faq.css" />
    </head>
    <body>
        <div class="faq">
            <h1 id="faq">FAQ</h1>
            <div class="q-and-a">
                <hr />
                <div class="question-container">
                    <div class="q">What is the 75% boycott threshold?</div>
                    <div class="icon">+</div>
                </div>
            </div>
            <div class="a">
                At present, PSFC requires at least 75% of the in-person voting
                attendees to vote YES for the boycott. As it was so powerfully
                demonstrated when this rule was passed, PSFC speaks as close as
                we can with one voice when setting this minimum. ALL boycotts in
                PSFC history have passed with at least 85% at YES, so a 75%
                minimum is actually lowering the standard. The Boycott
                Divestment and Sanctions movement are proven liars who want a
                return to the once merely traditional 51% majority knowing that
                in our Trumpian age, any perversion of the truth to get the ball
                over the 51-yard line is welcome. There are those in BDS who
                want the minimum to be 30% and called for this obvious ploy at
                the General Meeting many years ago. <br /><br />
                Never forget: the goal of telling so many lies is not to
                establish the lie. &nbsp;The goal is for you to disbelieve
                <strong>everything</strong> you are told.
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document
                    .querySelectorAll(".faq .q-and-a")
                    .forEach((element) => {
                        element.addEventListener("click", () => {
                            const currentlyVisible =
                                document.querySelector(".faq .a.show");
                            const answer = element.nextElementSibling;

                            if (
                                currentlyVisible &&
                                currentlyVisible !== answer
                            ) {
                                currentlyVisible.classList.remove("show");
                            }

                            answer.classList.toggle("show");
                        });
                    });
            });
        </script>
    </body>
</html>
