<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/fullVersions.css" />
    </head>
    <body class="no-navbar">
        <div id="independence-from-bds">
            <h1>Behind The BDS Strategy: Infiltrate the Coop</h1>
            <p class="text">
                Tess Brown-Lavoie and Keyian Vafai, the two coop members who won
                seats on the board of directors in the last election, were
                endorsed by a new faction in the coop called "Park Slope Food
                Coop Members 4 Palestine." The Palestine faction's social media
                celebrated their victory. <br /><br />
                PSFC4P's website indicates that it operates in accordance with
                the doctrine of the Boycott Divestment and Sanctions ("BDS")
                campaign. It is fair to characterize PSFCM4P as a local
                organizing unit of the BDS campaign operating inside the coop.
                <br /><br />
                BDS doctrine holds the State of Israel and its supporters solely
                responsible for the conflict between Israelis and Palestinians,
                and it demands a boycott of all Israeli academic institutions,
                all Israeli cultural and artistic programs, and Israeli
                companies. BDS explicitly rejects any attempt to promote
                coexistence between Israelis and Palestinians that doesn't
                conform to BDS's agenda of ending Israel as a Jewish state.
                <br /><br />
                The BDS "us v. them" method is to cause every organization which
                it can influence to align with the BDS agenda - a boycott of
                Israel until it collapses - and denounce anyone who doesn't
                agree with BDS values or with its agenda as "complicit in
                genocide." This approach can be seen in the recruitment efforts
                by the Palestine faction: approaching coop members who are
                waiting in line to enter, asking them if they support genocide,
                and signing them up to join the faction. <br /><br />
                As the Palestine faction lays the foundation for restarting the
                2012 boycott campaign and becomes more emboldened, its influence
                has already created a hostile environment for coop members who
                do not subscribe to its belief system.
            </p>
        </div>
        <div id="in-person-meetings">
            <h1>In-person Meetings</h1>
            <p>
                In person meetings encourage paying attention to what could be a
                many-sided debate for an upcoming vote that evening. It affords
                the opportunity to hear something, meet someone, see something
                new one wouldn't see if they Zoomed in and saw only what the
                video camera revealed. If someone simply logs in through video,
                votes at the required time, and then logs out, this is
                undermining our cooperative spirit. Online voting is being
                suggested by those who want to manipulate, not encourage,
                democracy. Finally, during COVID when we did have voting online,
                the attendance rarely cracked 100, contradicting the argument
                that people are too busy to attend an in-person meeting.
            </p>
        </div>
        <div id="mission">
            <h1>Returning to the Coop's Mission</h1>
            <p class="text">
                The
                <a target="_blank" href="https://www.foodcoop.com/mission/"
                    >Coop's Mission Statement</a
                >
                says that we are "a member-owned and operated food store—––an
                alternative to commercial profit-oriented business." The Coop's
                low prices are due to its focus on member labor rather than
                shareholder profits. The Coop is not a non-profit corporation;
                it is a corporation organized under
                <a
                    target="_blank"
                    href="https://law.justia.com/codes/new-york/cco/"
                    >New York's Cooperative Corporations Law.</a
                >
                <br /><br />
                <strong>We love the Coop</strong> as much as you do, and we fear
                losing it due to the negative consequences flowing from the
                political advocacy of the Coop's Members 4 Palestine, who want
                to pursue a <strong>BDS-driven boycott</strong> of Israeli
                products. The Coop's continued existence is not guaranteed: the
                <a
                    target="_blank"
                    href="https://en.wikipedia.org/wiki/Consumers%27_Cooperative_of_Berkeley"
                    >failure of the Berkley Coop</a
                >, after years of political infighting over consumer boycotts
                (among other issues), is one cautionary tale. <br /><br />
                The Coop's founder, treasurer, and longtime leader, Joe Holtz,
                knows the Coop's future is dependent on its financial health. He
                knows that the unique membership of the Coop––which is in
                Brooklyn, an area with one of the most concentrated Jewish
                populations in the world––means that the damage to the Coop from
                a consumer boycott of Israel could be immense. It
                <a
                    href="https://linewaitersgazette.com/2024/03/19/coordinators-corner-boycotts-and-the-international-principles-of-cooperation/"
                    >could include thousands of lost members</a
                >––overnight––and a reputational decline so severe that the Coop
                may never recover. This is because, whether you agree with it or
                not, a BDS-driven boycott of Israel at the Coop is seen as
                virulently antisemitic by a majority of the Coop's Jewish
                members and a majority of the Coop's Jewish neighbors in
                Brooklyn (home to the largest number of Orthodox Jews outside of
                Israel). The Coop has already suffered from a steep decline in
                Orthodox Jewish members since the last time an Israel boycott
                was proposed at the Coop in 2012. <br /><br />
                The
                <a target="_blank" href="https://www.foodcoop.com/mission/"
                    ><strong>Coop's Mission Statement</strong></a
                >
                also says, "We oppose discrimination in any form. We strive to
                make the Coop welcoming and accessible to all and to respect the
                opinions, needs, and concerns of every member." A
                <strong>BDS-driven boycott</strong>
                of Israeli products at the Coop is disrespectful of the needs
                and concerns of a large portion of its Jewish members. To
                protect the Coop's business and stay faithful to our mission, we
                oppose any boycott proposed by the Members 4 Palestine.
            </p>
        </div>
    </body>
</html>
