<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <bod class="no-navbar">
        <%- include('partials/follow-us') %>
        <p class="text">
            Tess Brown-Lavoie and Keyian Vafai, the two coop members who won
            seats on the board of directors in the last election, were endorsed
            by a new faction in the coop called "Park Slope Food Coop Members 4
            Palestine." The Palestine faction's social media celebrated their
            victory. <br /><br />
            PSFC4P's website indicates that it operates in accordance with the
            doctrine of the Boycott Divestment and Sanctions ("BDS") campaign.
            It is fair to characterize PSFCM4P as a local organizing unit of the
            BDS campaign operating inside the coop. <br /><br />
            BDS doctrine holds the State of Israel and its supporters solely
            responsible for the conflict between Israelis and Palestinians, and
            it demands a boycott of all Israeli academic institutions, all
            Israeli cultural and artistic programs, and Israeli companies. BDS
            explicitly rejects any attempt to promote coexistence between
            Israelis and Palestinians that doesn't conform to BDS's agenda of
            ending Israel as a Jewish state. <br /><br />
            The BDS "us v. them" method is to cause every organization which it
            can influence to align with the BDS agenda - a boycott of Israel
            until it collapses - and denounce anyone who doesn't agree with BDS
            values or with its agenda as "complicit in genocide." This approach
            can be seen in the recruitment efforts by the Palestine faction:
            approaching coop members who are waiting in line to enter, asking
            them if they support genocide, and signing them up to join the
            faction. <br /><br />
            As the Palestine faction lays the foundation for restarting the 2012
            boycott campaign and becomes more emboldened, its influence has
            already created a hostile environment for coop members who do not
            subscribe to its belief system.
        </p>
    </body>
</html>
