<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body class="with-navbar">
        <%- include('partials/navbar') %>
        <main>
            <div id="who-we-are">
                <h1 id="about">WHO WE ARE</h1>
                <div>
                    <p>
                        Coop 4 Unity is a diverse group of Park Slope Food Coop
                        members who believe in maintaining a welcoming,
                        inclusive environment at the Coop – without divisive
                        political or social agendas.
                    </p>
                    <p>
                        We are concerned and alarmed about the push for the Coop
                        to adopt a BDS (Boycott Divestment and Sanctions)
                        resolution against Israel at our Coop.
                    </p>
                    <p>
                        Members of Coop 4 Unity do not like the division the BDS
                        movement has caused at our Coop. We want to ensure
                        everyone –regardless of their identity– is able to shop
                        for food and feed their family without having to feel
                        intimidated or isolated.
                    </p>
                </div>
            </div>
            <div class="about">
                <div class="value">
                    <img
                        src="/images/independence.png"
                        alt="Independence from BDS"
                    />
                    <h4>Independence from BDS</h4>
                    <p>
                        <a
                            target="_blank"
                            href="https://psfc4palestine.org/faqs/"
                            >The "Park Slope Food Coop Members 4 Palestine" are
                            committed to BDS,</a
                        >
                        which stands for "Boycott, Divestment, and Sanctions," a
                        political ideology that seeks to end Israel as a modern
                        nation-state. BDS explicitly rejects the idea of
                        co-existence between Palestinians and Israelis. Its
                        adherents shun dialogue and paint opponents as
                        "complicit in genocide." BDS's strategy is to infiltrate
                        an organization to push adoption of their agenda. The
                        Coop should be independent from BDS, which is inherently
                        un-cooperative.

                        <br /><br />
                        <a href="/fullVersions/#independence-from-bds"
                            ><strong>Read more about BDS</strong></a
                        >
                    </p>
                </div>
                <div class="value">
                    <img
                        src="/images/meeting.png"
                        alt="Independence from BDS"
                    />
                    <h4>In-person Meetings</h4>
                    <p>
                        Our Bylaws require voting in person (no online voting)
                        at general meetings to foster member interaction, ensure
                        privacy, and verify each vote. The BDS faction wants to
                        change our Bylaws, not to increase your participation or
                        improve Coop governance, but to use their bloc of voters
                        to impose a boycott of Israel on all of us.
                        <br />
                        <br />
                        <a href="/fullVersions/#in-person-meetings"
                            ><strong>Read More</strong></a
                        >
                    </p>
                </div>
                <div class="value">
                    <img
                        src="/images/leadership.png"
                        alt="Independence from BDS"
                    />
                    <h4>Returning to the Co-op's Mission</h4>
                    <p>
                        The Coop is a neighborhood grocery store, albeit a
                        special one. It is not a non-profit, political action
                        committee, or social justice organization. It is a
                        <strong><em>business</em></strong> that has to be
                        carefully managed to remain fiscally healthy. Pushing a
                        political action that deeply offends a large portion of
                        the membership is not in the Coop's business interest.
                        Let's protect the Coop's finances by preserving its
                        original peaceful and inclusive nature. <br /><br />
                        <a href="/fullVersions/#mission"
                            ><strong
                                >Read more about the Coop's mission and
                                business</strong
                            ></a
                        >
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
