<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body class="with-navbar">
        <%- include('partials/navbar') %>
        <main>
            <div id="who-we-are">
                <h1 id="about">WHO WE ARE</h1>
                <div>
                    <p>
                        Coop 4 Unity is a diverse group of Park Slope Food Coop
                        members who believe in maintaining a welcoming,
                        inclusive environment at the Coop – without divisive
                        political or social agendas.
                    </p>
                    <p>
                        We are concerned and alarmed about the push for the Coop
                        to adopt a BDS (Boycott Divestment and Sanctions)
                        resolution against Israel at our Coop.
                    </p>
                    <p>
                        Members of Coop 4 Unity do not like the division the BDS
                        movement has caused at our Coop. We want to ensure
                        everyone –regardless of their identity– is able to shop
                        for food and feed their family without having to feel
                        intimidated or isolated.
                    </p>
                </div>
            </div>
            <div class="about">
                <div class="value">
                    <img
                        src="/images/independence.png"
                        alt="Independence from BDS"
                    />
                    <h4>Independence from BDS</h4>
                    <p>
                        The BDS-affiliated Park Slope Food Coop Members 4
                        Palestine strategy is to infiltrate any organization or
                        community space and push them to adopt the BDS agenda.
                        We seek to maintain the Coop's independence from such
                        <a target="_blank" href="https://psfc4palestine.org/"
                            >an uncooperative group.</a
                        >
                        <br /><br />
                        <a href="/fullVersions/#independence-from-bds"
                            ><strong>Read More</strong></a
                        >
                    </p>
                </div>
                <div class="value">
                    <img
                        src="/images/meeting.png"
                        alt="Independence from BDS"
                    />
                    <h4>In-person Meetings</h4>
                    <p>
                        In person meetings encourage paying attention to what
                        could be a many-sided debate for an upcoming vote that
                        evening. The push for online voting is coming from those
                        who want to manipulate, not encourage, democracy.
                        <br />
                        <br />
                        <a href="/fullVersions/#in-person-meetings"
                            ><strong>Read More</strong></a
                        >
                    </p>
                </div>
                <div class="value">
                    <img
                        src="/images/leadership.png"
                        alt="Independence from BDS"
                    />
                    <h4>Returning to the Co-op's Mission</h4>
                    <p>
                        The Coop is a neighborhood grocery store, dependent on
                        the goodwill of the membership. It is not a political
                        action committee, and it is not a social justice
                        organization. We want to protect the Coop’s peaceful and
                        inclusive nature–free from the influence of divisive
                        politics.
                        <br /><br />
                        <a href="/fullVersions/#mission"
                            ><strong>Read More</strong></a
                        >
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
