<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Coop4Unity</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body class="no-navbar">
        <%- include('partials/follow-us') %>
        <p class="text">
            The
            <a target="_blank" href="https://www.foodcoop.com/mission/"
                >Coop's Mission Statement</a
            >
            says that we are "a member-owned and operated food store—––an
            alternative to commercial profit-oriented business." The Coop's low
            prices are due to its focus on member labor rather than shareholder
            profits. The Coop is not a non-profit corporation; it is a
            corporation organized under
            <a target="_blank" href="https://law.justia.com/codes/new-york/cco/"
                >New York's Cooperative Corporations Law.</a
            >
            <br /><br />
            <strong>We love the Coop</strong> as much as you do, and we fear
            losing it due to the negative consequences flowing from the
            political advocacy of the Coop's Members 4 Palestine, who want to
            pursue a <strong>BDS-driven boycott</strong> of Israeli products.
            The Coop's continued existence is not guaranteed: the
            <a
                target="_blank"
                href="https://en.wikipedia.org/wiki/Consumers%27_Cooperative_of_Berkeley"
                >failure of the Berkley Coop</a
            >, after years of political infighting over consumer boycotts (among
            other issues), is one cautionary tale. <br /><br />
            The Coop's founder, treasurer, and longtime leader, Joe Holtz, knows
            the Coop's future is dependent on its financial health. He knows
            that the unique membership of the Coop––which is in Brooklyn, an
            area with one of the most concentrated Jewish populations in the
            world––means that the damage to the Coop from a consumer boycott of
            Israel could be immense. It
            <a
                href="https://linewaitersgazette.com/2024/03/19/coordinators-corner-boycotts-and-the-international-principles-of-cooperation/"
                >could include thousands of lost members</a
            >––overnight––and a reputational decline so severe that the Coop may
            never recover. This is because, whether you agree with it or not, a
            BDS-driven boycott of Israel at the Coop is seen as virulently
            antisemitic by a majority of the Coop's Jewish members and a
            majority of the Coop's Jewish neighbors in Brooklyn (home to the
            largest number of Orthodox Jews outside of Israel). The Coop has
            already suffered from a steep decline in Orthodox Jewish members
            since the last time an Israel boycott was proposed at the Coop in
            2012. <br /><br />
            The
            <a target="_blank" href="https://www.foodcoop.com/mission/"
                ><strong>Coop's Mission Statement</strong></a
            >
            also says, "We oppose discrimination in any form. We strive to make
            the Coop welcoming and accessible to all and to respect the
            opinions, needs, and concerns of every member." A
            <strong>BDS-driven boycott</strong>
            of Israeli products at the Coop is disrespectful of the needs and
            concerns of a large portion of its Jewish members. To protect the
            Coop's business and stay faithful to our mission, we oppose any
            boycott proposed by the Members 4 Palestine.
        </p>
    </body>
</html>
